{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="banner" name="about-header">
            <!-- Insert header information here -->
                  <h1>About Us</h1>
  Welcome to Best Cars dealership, home to the best cars in North America. We deal in sale of domestic and imported cars at reasonable prices.
            </div>
            <div>
            <div class="card">
                <img class="card-img-top" src="/static/person1.jpg" alt="Card image">
                <div class="card-body">
                    <p class="title">Zuriel TheMan</p>
                    <p>CEO</p>
                    <p class="card-text">This person here is the founder of this dealership. His vision has set us appart from the rest.</p>
                    <p>ZurielTheMan@example.com</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="/static/person2.jpg" alt="Card image">
                <div class="card-body">
                    <p class="title">Little Zuriel</p>
                    <p>Second CEO</p>
                    <p class="card-text">Being the person who believed in Zuriel TheMan, always followed his example and helped the dealership become what it is today.</p>
                    <p>LittleZuriel@example.com</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="/static/person3.jpg" alt="Card image">
                <div class="card-body">
                    <p class="title">Z Dad</p>
                    <p>Seller</p>
                    <p class="card-text">This person is the best seller in the world. He does all the hands on work in the dealership.</p>
                    <p>ZDad@example.com</p>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}