{% extends "base.html" %}
{% block content %}
    <div>
        <div class="card">
            <div class="banner" name="about-header">
            <!-- Insert header information here -->
                  <h1>Contact Us</h1>
  Welcome to the page where you can contact us. We are here to help you with any questions or concerns you may have. Please feel free to reach out to us through the contact form or by using the contact information provided below. We look forward to hearing from you!
            </div>
            <div>
            <div class="card">
                <img class="card-img-top" src="/static/person1.jpg" alt="Card image">
                <div class="card-body">
                    <p class="title">Zuriel TheMan</p>
                    <p>CEO</p>
                    <p class="card-text">You can contact Zuriel TheMan himself to communicate any concerns you may have.</p>
                    <p>ZurielTheMan@example.com</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="/static/person2.jpg" alt="Card image">
                <div class="card-body">
                    <p class="title">Little Zuriel</p>
                    <p>Second CEO</p>
                    <p class="card-text">If you have a question that can be fun to answer, you might talk to Little Zuriel.</p>
                    <p>LittleZuriel@example.com</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="/static/person3.jpg" alt="Card image">
                <div class="card-body">
                    <p class="title">Z Dad</p>
                    <p>Seller</p>
                    <p class="card-text">If you have a question about the general operations of the Dealership, feel free to ask Z Dad.</p>
                    <p>ZDad@example.com</p>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}