{% extends "base.html" %}
{% block content %}
    <div class="auth-container">
        <h1 class="home-header">Register Page</h1>
        <form class="form_panel" action="{% url 'djangoapp:register_user' %}" method="post">
            {% csrf_token %}
            <h2 class="auth-title">Register</h2>
            <input class="input_field" type="text" name="username" placeholder="Username" required>
            <input class="input_field" type="text" name="first_name" placeholder="First Name" required>
            <input class="input_field" type="text" name="last_name" placeholder="Last Name" required>
            <input class="input_field" type="password" name="password" placeholder="Password" required>
            <button class="btn btn-primary btn-block btn-large" type="submit">Register</button>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </form>
    </div>
{% endblock %}